services:
  mysql:
    image: mysql
    env_file:
      - .env
    ports:
      - '3306:3306'
  bank-system-api:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - '3000:3000'
    environment:
      - PORT=3000
      - NODE_ENV=development
      - CHOKIDAR_USEPOLLING=true
      - WATCHPACK_POLLING=true
    volumes:
      - ./src:/app/src
